Part 1:

In [258]:
import pandas as pd 
import numpy as np

number = [1, 4, 7, 25, 10, 13]
pokemon = ['bulbasaur', 'charmander', 'squirtle', 'pikachu', 'caterpie', 'weedle']
evolution = ['venusaur', 'charizard', 'blastoise', 'raichu', 'butterfree', 'beedrill']
p_type = ['grass', 'fire', 'water', 'electric', 'bug', 'bug']
hp = [25, 55, 32, 34, 21, 23]

numbers = pd.Series(number)
pokemons = pd.Series(pokemon)
evolutions = pd.Series(evolution)
p_types = pd.Series(p_type)
hps = pd.Series(hp)

info = pd.DataFrame({'number': numbers, 'pokemon': pokemons, 'evolution': evolutions, 'p_type': p_types, 'hp': hps})

print(info)

   number     pokemon   evolution    p_type  hp
0       1   bulbasaur    venusaur     grass  25
1       4  charmander   charizard      fire  55
2       7    squirtle   blastoise     water  32
3      25     pikachu      raichu  electric  34
4      10    caterpie  butterfree       bug  21
5      13      weedle    beedrill       bug  23

Part 2:

In [259]:
print('Only the bugs:')
print(info.iloc[4:6]) # display only the bugs

print('Only the pokemon with less than 30 hp:')
print(info[(info['hp'] < 30)]) # only the pokemon with less than 30 hp

under_30 = (info[info['hp'] < 30]) # display only the pokemon name and hp for pokemon with hp less than 30
print('Only the pokemon name and hp for pokemon with hp less than 30:')
print(under_30[['pokemon', 'hp']])

Only the bugs:
   number   pokemon   evolution p_type  hp
4      10  caterpie  butterfree    bug  21
5      13    weedle    beedrill    bug  23
Only the pokemon with less than 30 hp:
   number    pokemon   evolution p_type  hp
0       1  bulbasaur    venusaur  grass  25
4      10   caterpie  butterfree    bug  21
5      13     weedle    beedrill    bug  23
Only the pokemon name and hp for pokemon with hp less than 30:
     pokemon  hp
0  bulbasaur  25
4   caterpie  21
5     weedle  23

Part 3:

In [260]:
df = pd.read_csv("chipotle.tsv", sep = '\t', dtype={'item_price': str}) # The string conversion is for part 6.
df['item_price'] = df['item_price'].str.replace(',','').str.replace('$','').astype('float') # This removal of commas and dollar signs and converting the prices to floats is also for part 6. It wouldn't work in my part 6 cell, so I had to put it here.
#print(df)

first_10 = df.head(10)
print("First 10 entries of the DataFrame:")
print(first_10)

last_10 = df.tail(10)
print("Last 10 entries of the DataFrame:")
print(last_10)

# Source Used:

# Using .head() in a DataFrame: https://www.w3resource.com/python-exercises/pandas/movies/python-pandas-movies-exercise-9.php

First 10 entries of the DataFrame:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
6                                                NaN        1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...        9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...        9.25
Last 10 entries of the DataFrame:
      order_id  quantity            item_name  \
4612      1831         1        Carnitas Bowl
4613      1831         1                Chips
4614      1831         1        Bottled Water
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description  item_price
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        9.25
4613                                                NaN        2.15
4614                                                NaN        1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]        8.75
4616                                                NaN        4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

Part 4:

In [261]:
order_110_df = (df[df['order_id'] == 110])
print('All details for order 110:')
print(order_110_df)

#o = (df[df['order_id'] == 110]['quantity'])
#r = (df[df['order_id'] == 110]['item_name'])
#d = (df[df['order_id'] == 110]['choice_description'])
#e = (df[df['order_id'] == 110]['item_price'])
#df_1 = pd.Series(o)
#df_2 = pd.Series(r)
#df_3 = pd.Series(d)
#df_4 = pd.Series(e)
#print(df_1)
#print(df_2)
#print(df_3)
#print(df_4)

details = pd.DataFrame({'quantity': df_1 , 'item name': df_2, 'description': df_3, 'price': df_4})

#print(details)

All details for order 110:
     order_id  quantity              item_name  \
252       110         1           Chicken Bowl
253       110         1            Veggie Bowl
254       110         1          Barbacoa Bowl
255       110         1  Barbacoa Crispy Tacos

                                    choice_description  item_price
252  [Tomatillo Red Chili Salsa, [Rice, Cheese, Let...        8.75
253  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...        8.75
254  [Tomatillo Red Chili Salsa, [Rice, Cheese, Let...        9.25
255  [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...        9.25

Part 5:

In [262]:
order_18_df = (df[df['order_id'] == 18]['choice_description'])
print('Choice Descriptions for Chicken Soft Tacos in Order 18:')
print(order_18_df)

Choice Descriptions for Chicken Soft Tacos in Order 18:
35                 [Roasted Chili Corn Salsa, Rice]
36    [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
37                                              NaN
38                                              NaN
Name: choice_description, dtype: object

Part 6:

In [263]:
df['item_price'].apply(type).value_counts() # This check verifies that the values in the item_price column were converted to floats since it displays <class 'float'>.

<class 'float'>    4622
Name: item_price, dtype: int64

Part 7:

In [264]:
max_price = np.max(df['item_price'])
# print(max_price) I used this to find the maximum price, and then I used .loc to find the specific information for the item attached to that price.

max_item = df.loc[df['item_price'] == 44.25, ['order_id', 'quantity', 'item_name']] # Find item information for $44.25 price

print(max_item.to_string(index = False)) # Remove index number when printing information

 order_id  quantity                     item_name
     1443        15  Chips and Fresh Tomato Salsa

Part 8:

In [265]:
#orderid = df['order_id']
#order_577 = orderid[orderid == 577]


#print(order_577)

#print('Items ordered in 577:')
#print(order)

order_577 = (df[df['order_id'] == 577])
#print(order_577)
#quant_577 = order_577['quantity']

total = order_577['quantity'].sum()

#print(over_onehund[['population', 'density']])

print('Items ordered in order 577:')
print(total)

Items ordered in order 577:
11

Part 9:

In [266]:
total_price = order_577['item_price'].sum()

print('The total order price for order 577 was:')
print('$',total_price)

The total order price for order 577 was:
$ 71.15

Part 10:

In [267]:
steak_bowl = df.loc[df['item_name'] == 'Steak Bowl']
#print(steak_bowl)

steak_bowl_total = np.sum(steak_bowl['quantity'])

print(f"Total number of 'Steak Bowl' orders placed: {steak_bowl_total}")

#df.loc[df['item_name'] == 'Steak Bowl'].apply(type).value_counts()

Total number of 'Steak Bowl' orders placed: 221