Part 1:

In [128]:
import pandas as pd

In [129]:
set1 = pd.DataFrame( {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']} )

set2 = pd.DataFrame({
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

scores3 = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]})





frames = [set1, set2, scores3]

#result = set1.append(set2)

#result_2 = result.append(scores3)
#t = scores3['test_id']

#print(t)
#result_2 = result.append()
result = pd.concat([set1, set2], sort = False)
result_2 = pd.merge(result,scores3)
print(result_2)
#print(result)

# Source Used:

# https://blog.devgenius.io/combining-data-in-pandas-31c984afceb7

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

Part 2:

In [130]:
df2 = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv")
df1 = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv")

result = pd.concat([df2, df1], sort = False)
#print(df1)
#print(df2)
new = pd.merge(df1, df2, left_on='state/region', right_on="abbreviation", how = 'outer').drop('abbreviation', axis=1)


print(new)

# Sources Used:

# https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

     state/region     ages  year   population    state
0              AL  under18  2012    1117489.0  Alabama
1              AL    total  2012    4817528.0  Alabama
2              AL  under18  2010    1130966.0  Alabama
3              AL    total  2010    4785570.0  Alabama
4              AL  under18  2011    1125763.0  Alabama
...           ...      ...   ...          ...      ...
2539          USA    total  2010  309326295.0      NaN
2540          USA  under18  2011   73902222.0      NaN
2541          USA    total  2011  311582564.0      NaN
2542          USA  under18  2012   73708179.0      NaN
2543          USA    total  2012  313873685.0      NaN

[2544 rows x 5 columns]

Part 3:

In [131]:
print('Columns with missing data:')
print(new.notna().all())

is_NaN = new.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = new[row_has_NaN]

missing_data_rows = pd.DataFrame(rows_with_NaN)

missing_data_rows

# Sources Used:

# Print Rows with NaN Values - https://www.kite.com/python/answers/how-to-find-rows-with-nan-values-in-a-pandas-dataframe-in-python

# In-Class Example Code

Columns with missing data:
state/region     True
ages             True
year             True
population      False
state           False
dtype: bool

     state/region     ages  year   population state
2448           PR  under18  1990          NaN   NaN
2449           PR    total  1990          NaN   NaN
2450           PR    total  1991          NaN   NaN
2451           PR  under18  1991          NaN   NaN
2452           PR    total  1993          NaN   NaN
...           ...      ...   ...          ...   ...
2539          USA    total  2010  309326295.0   NaN
2540          USA  under18  2011   73902222.0   NaN
2541          USA    total  2011  311582564.0   NaN
2542          USA  under18  2012   73708179.0   NaN
2543          USA    total  2012  313873685.0   NaN

[96 rows x 5 columns]

Part 4:

In [132]:
new.loc[new['state/region'] == 'PR', 'state/region'] = 'Puerto Rico'
new.loc[new['state/region'] == 'USA', 'state/region'] = 'United States'

is_NaN = new.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = new[row_has_NaN]

missing_data_rows_2 = pd.DataFrame(rows_with_NaN)

print('First 2 Rows of Puerto Rico:')
print(missing_data_rows_2.head(2),'\n')

print('First 2 Rows of United States:')
print(missing_data_rows_2.loc[[2539]])
print(missing_data_rows_2.loc[[2540]], '\n')

print('First 2 Rows After Population "NaN" Drop:')
print(new.dropna().head(2), '\n')

print('Confirmation to Show no Remaining NaN Values in Any Column After Fixes')
print(new.dropna())

# Sources Used:

# In-Class Demo Code

# Stack Overflow Hint Article Provided - https://stackoverflow.com/questions/47953338/how-to-replace-values-of-selected-row-of-a-column-in-pandas-dataframe

First 2 Rows of Puerto Rico:
     state/region     ages  year  population state
2448  Puerto Rico  under18  1990         NaN   NaN
2449  Puerto Rico    total  1990         NaN   NaN

First 2 Rows of United States:
       state/region   ages  year   population state
2539  United States  total  2010  309326295.0   NaN
       state/region     ages  year  population state
2540  United States  under18  2011  73902222.0   NaN

First 2 Rows After Population "NaN" Drop:
  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama

Confirmation to Show no Remaining NaN Values in Any Column After Fixes
     state/region     ages  year  population    state
0              AL  under18  2012   1117489.0  Alabama
1              AL    total  2012   4817528.0  Alabama
2              AL  under18  2010   1130966.0  Alabama
3              AL    total  2010   4785570.0  Alabama
4              AL  under18  2011   1125763.0  Alabama
...           ...      ...   ...         ...      ...
2443           WY  under18  1993    137458.0  Wyoming
2444           WY    total  1991    459260.0  Wyoming
2445           WY  under18  1991    136720.0  Wyoming
2446           WY  under18  1990    136078.0  Wyoming
2447           WY    total  1990    453690.0  Wyoming

[2448 rows x 5 columns]

Part 5:

In [133]:
areas = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv")

merged_set = pd.merge(new, areas)

#print(merged_set)

#print(merged_set['population'])

population = merged_set['population']
area = merged_set['area (sq. mi)']
density = (population/area)


merged_set['density'] = density

merged_set

# Sources Used:

# In-Class Demo Code

# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

,state/region,ages,year,population,state,area (sq. mi),density
0,AL,under18,2012,1117489.0,Alabama,52423,21.316769
1,AL,total,2012,4817528.0,Alabama,52423,91.897221
2,AL,under18,2010,1130966.0,Alabama,52423,21.573851
3,AL,total,2010,4785570.0,Alabama,52423,91.287603
4,AL,under18,2011,1125763.0,Alabama,52423,21.474601
...,...,...,...,...,...,...,...
2443,WY,under18,1993,137458.0,Wyoming,97818,1.405242
2444,WY,total,1991,459260.0,Wyoming,97818,4.695046
2445,WY,under18,1991,136720.0,Wyoming,97818,1.397698
2446,WY,under18,1990,136078.0,Wyoming,97818,1.391135
2447,WY,total,1990,453690.0,Wyoming,97818,4.638103

Part 6:

In [134]:

print('The maximum density:')
print(merged_set[merged_set.density == merged_set.density.max()])

print('\n')
print('For the year "2010", the maximum, minimum, and average "density":')
max_2010 = merged_set.loc[merged_set['year'] == 2010]
max_density_under_18 = max_2010.loc[max_2010['ages'] == 'under18']

print(f"Maximum: {max_2010['density'].max()}")
print(f"Minimum: {max_2010['density'].min()}")
print(f"Average: {max_2010['density'].mean()}")
print('\n')

print('For the year 2010, the state that had the highest "density" of age group "under18":')
print(max_density_under_18.max())
print('\n')

print('Total Sum of Population of All States for Each Year:')
total_pop = merged_set.groupby('year')['population'].sum().reset_index(name='total_population')
print(total_pop)
print('\n')

set_with_pop_totals = merged_set.merge(total_pop)
print(set_with_pop_totals)

# Sources Used:

# In-Class Examples/Demo Code

# Finding the Max Value - https://www.kite.com/python/answers/how-to-find-the-max-value-of-a-pandas-dataframe-column-in-python

# Get Column Average - https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean

The maximum density:
    state/region   ages  year  population                 state  \
391           DC  total  2013    646449.0  District of Columbia

     area (sq. mi)      density
391             68  9506.602941


For the year "2010", the maximum, minimum, and average "density":
Maximum: 8898.89705882353
Minimum: 0.2862505236698785
Average: 202.25008766917844


For the year 2010, the state that had the highest "density" of age group "under18":
state/region              WY
ages                 under18
year                    2010
population       9.28409e+06
state                Wyoming
area (sq. mi)         656425
density              1489.84
dtype: object


Total Sum of Population of All States for Each Year:
    year  total_population
0   1990       313841326.0
1   1991       318293960.0
2   1992       323023408.0
3   1993       327513533.0
4   1994       331766762.0
5   1995       335751543.0
6   1996       339627803.0
7   1997       343567670.0
8   1998       347285522.0
9   1999       350986232.0
10  2000       354538600.0
11  2001       357640130.0
12  2002       360561650.0
13  2003       363208691.0
14  2004       366103033.0
15  2005       369040268.0
16  2006       372137626.0
17  2007       375250612.0
18  2008       378198568.0
19  2009       380905696.0
20  2010       383445851.0
21  2011       385484786.0
22  2012       387581864.0
23  2013       389714711.0


     state/region     ages  year  population          state  area (sq. mi)  \
0              AL  under18  2012   1117489.0        Alabama          52423
1              AL    total  2012   4817528.0        Alabama          52423
2              AK  under18  2012    188162.0         Alaska         656425
3              AK    total  2012    730307.0         Alaska         656425
4              AZ  under18  2012   1617149.0        Arizona         114006
...           ...      ...   ...         ...            ...            ...
2443           WV    total  1990   1792548.0  West Virginia          24231
2444           WI  under18  1990   1302869.0      Wisconsin          65503
2445           WI    total  1990   4904562.0      Wisconsin          65503
2446           WY  under18  1990    136078.0        Wyoming          97818
2447           WY    total  1990    453690.0        Wyoming          97818

        density  total_population
0     21.316769       387581864.0
1     91.897221       387581864.0
2      0.286647       387581864.0
3      1.112552       387581864.0
4     14.184771       387581864.0
...         ...               ...
2443  73.977467       313841326.0
2444  19.890219       313841326.0
2445  74.875380       313841326.0
2446   1.391135       313841326.0
2447   4.638103       313841326.0

[2448 rows x 8 columns]