In [12]:
import pandas as pd

df1 = pd.read_csv("../Projects/Project2/data/id-hw-exams.csv")
df2 = pd.read_csv("../Projects/Project2/data/id-section.csv")

h = pd.merge(df1, df2, left_on="SID", right_on="NetID", how = 'outer')

h

,First Name,Last Name,SID,Homework 1,Homework 1 - Max Points,Homework 1 - Submission Time,Homework 2,Homework 2 - Max Points,Homework 2 - Submission Time,Homework 3,...,Exam 2 - Max Points,Exam 2 - Submission Time,Exam 3,Exam 3 - Max Points,Exam 3 - Submission Time,ID,Name,NetID,Email Address,Section
0,Aaron,Lester,axl60952,68.0,80.0,2019-08-29 08:56:02-07:00,74.0,80.0,2019-09-05 08:56:02-07:00,77.0,...,100.0,2019-11-08 12:30:07-07:00,68.0,100.0,2019-12-08 12:30:07-07:00,NaN,NaN,NaN,NaN,NaN
1,Adam,Cooper,amc28428,80.0,80.0,2019-08-29 08:56:02-07:00,78.0,80.0,2019-09-05 08:56:02-07:00,78.0,...,100.0,2019-11-08 12:30:07-07:00,90.0,100.0,2019-12-08 12:30:07-07:00,NaN,NaN,NaN,NaN,NaN
2,Alec,Curry,axc64717,69.0,80.0,2019-08-29 08:56:02-07:00,76.0,80.0,2019-09-05 08:56:02-07:00,66.0,...,100.0,2019-11-08 12:30:07-07:00,83.0,100.0,2019-12-08 12:30:07-07:00,NaN,NaN,NaN,NaN,NaN
3,Alexander,Rodriguez,akr14831,50.0,80.0,2019-08-29 08:56:02-07:00,54.0,80.0,2019-09-05 08:56:02-07:00,74.0,...,100.0,2019-11-08 12:30:07-07:00,81.0,100.0,2019-12-08 12:30:07-07:00,NaN,NaN,NaN,NaN,NaN
4,Amber,Daniels,axd11293,54.0,80.0,2019-08-29 08:56:02-07:00,57.0,80.0,2019-09-05 08:56:02-07:00,77.0,...,100.0,2019-11-08 12:30:07-07:00,88.0,100.0,2019-12-08 12:30:07-07:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5227994.0,"Johnson, Paul Mark",PMJ37756,PAUL.JOHNSON@UNIV.EDU,3.0
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9804556.0,"Lee, Danielle Stephanie",DSL24347,DANIELLE.LEE@UNIV.EDU,3.0
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1783442.0,"Edwards, Nicole",NXE44872,NICOLE.EDWARDS@UNIV.EDU,3.0
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6345758.0,"Reyes, Bailey",BXR62103,BAILEY.REYES@UNIV.EDU,2.0
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5566719.0,"Walls, Joyce",JXW53347,JOYCE.WALLS@UNIV.EDU,1.0